<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<!--<h2>Welcome, <span th:text="${username}"></span></h2>-->

<h3>Login below:</h3>
<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">

    <label for="password">Password:</label>
    <input type="hidden" name="password" id="password">
    <button>Submit</button>
</form>

<h3>Your username is: <span th:text="${username}"></span></h3>
<h3>Your password is: <span th:text="${password}"></span></h3>

</body>
</html>